[user]
    name = Magnus Hörberg
    email = magnus.hoerberg@gmail.com
	signingkey = FEB2556F
[color]
    diff = auto
    interactive = auto
    status = auto
    branch = auto
[alias]
    pr = pull --rebase
    st = status
    cb = checkout -b
    ch = checkout
    ci = commit -v
    di = diff
    dic = diff --cached
    cm = commit -S -m
    lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
    pom = pull --rebase origin master
[push]
	default = simple
